<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-meddevmachines">
	<tr>
		<td><f:translate key="tx_meddevmachines_domain_model_machines.name" /></td>
		<td>{machines.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_meddevmachines_domain_model_machines.tx_meddevmachines_desc" /></td>
		<td>{machines.desc}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_meddevmachines_domain_model_machines.images" /></td>
		<td>
				<f:image src="{machines.images.originalResource.publicUrl}" width="200"/>
            </td>
	</tr>
	<tr>
		<td><f:translate key="tx_meddevmachines_domain_model_machines.video" /></td>
		<td>
				<a href="{machines.video.originalResource.publicUrl}">
					{machines.video.originalResource.name}
				</a>
			</td>
	</tr>
</table>
</html>
