<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="col-md-6">
        <f:form action="changePassword" method="post" class="login-form">
            <fieldset>
                <legend class="legend-login">
                    <f:translate key="change_password_header"/>
                </legend>
                
                <p>
                    <f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}"/>
                    <f:render partial="ValidationErrors"/>
                </p>
                <div>
                     
                     <p class="title">
                        <f:translate key="newpassword_label1"/><br>
                        <f:form.password name="newPass" additionalAttributes="{autocomplete: 'new-password'}"/>
                    </p>
                   
                </div>
                <div>
                   
                    <p class="title">
                        <f:translate key="newpassword_label2"/><br>
                        <f:form.password name="newPassRepeat" additionalAttributes="{autocomplete: 'new-password'}"/> </p>
                   
                </div>
                <f:form.hidden name="hash" value="{hash}"/>
                <f:form.submit value="{f:translate(key: 'change_password')}" class="login-submit"/>
            </fieldset>
        </f:form>
    </div>



<f:comment>
    <p>
        <f:link.action action="login" controller="Login">
            <f:translate key="forgot_header_backToLogin"/>
        </f:link.action>
    </p>
</f:comment>

</html>
