<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<div class="ce-text  ">
		<div class="mx-auto">
			<div class="headline">
				<h1 class="">Bitte bestätigen Sie ihre E-Mail-Adresse</h1>
			</div>
			<div class="text">
				<p>Vielen Dank für die eingegebenen Informationen. Wir haben Ihr Profil erfolgreich erstellt. Wir haben
					Ihnen eine E-Mail mit einem Link zur Bestätigung Ihrer E-Mail-Adresse geschickt. Bitte überprüfen
					Sie Ihren Posteingang und möglicherweise den Spam-Ordner.</p>
			</div>
		</div>
	</div>

</f:section>

</html>