<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<!--
	=======================
	Partials/List/Item.html
	=======================
	-->
<div class="{f:if(condition: '{col} == 2', then: 'teaser col-6 col-lg-6', else: 'teaser col-6 col-lg-4')}">
    <div class="card {teaser.data.color_select} {f:if(condition: '{teaser.data.color_select} == bg-white', then: 'blue', else: 'white')}">
        <f:if condition="{teaser}">
            <f:link.typolink parameter="{teaser.data.link}">
                <div class="card-body">
                    <!-- header -->
                    <div class="header">
                        <f:if condition="{teaser.data.subheader}">
                            <p class="teaser-category text-default-small">{teaser.data.subheader}</p>
                        </f:if>
                        
                        <f:if condition="{teaser.data.header}">
                     <f:format.html><h3 class="h3-big card-title">{teaser.data.header}</h3></f:format.html>       
                        </f:if>
                    </div>
        
                    <!-- teaser -->
                    <f:if condition="{teaser.data.bodytext}">
                        <div class="teaser-text">
                            <div itemprop="description">{teaser.data.bodytext -> f:format.crop(maxCharacters: '200', respectWordBoundaries:'1') -> f:format.html()}</div>
                        </div>
                    </f:if>
        
                    <!-- footer information -->
                    <div class="footer">
                        <p class="medium-text bold">
                            <!-- date -->
                            <span class="teaser-date">
                                <time itemprop="datePublished" datetime="{f:format.date(date:teaser.datetime, format:'Y-m-d')}">
                                    <f:format.date format="d.m.Y">{teaser.data.date}</f:format.date>
                                </time>
                            </span>
                        </p>
                    </div>
                    <div class="icon icon-plus"></div>
                
                </div>
            </f:link.typolink>
        </f:if>
    </div>

</div>
</html>