<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="crt-filter">
    <ul class="crt-networks">
        <li class="active"><a href="#">All</a></li>
        <li class=""><a href="#">YouTube</a></li>
        <li class=""><a href="#">LinkedIn</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 col-12">
        <article>
            <div class="crt-post-content">
            </div>
            <div class="crt-post-c crt-post-border">
                <div class="crt-post-header">
                    <div class="crt-social-icon"></div>
                    <div class="crt-post-fullname">
                        <div class="line"></div>
                        <div class="half-line"></div>
                    </div>
                </div>
                <div class="crt-post-text" >
                        <div class="line"></div>
                        <div class="line-less"></div>
                        
                        <div class="half-less"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="quart-line"></div>

                        <div class="line"></div>
                        <div class="line-less"></div>
                        <div class="half-line"></div>
                    </div>
                <div class="crt-post-footer">
                    <div class="line mx-auto"></div>
                </div>
            </div>
        </article>
        <article>
            <div class="crt-post-content">
            </div>
            <div class="crt-post-c">
                <div class="crt-post-header">
                    <div class="crt-social-icon"></div>
                    <div class="crt-post-fullname">
                        <div class="line"></div>
                        <div class="half-line"></div>
                    </div>
                </div>
                <div class="crt-post-text" >
                        <div class="line"></div>
                        <div class="line-less"></div>
                        
                        <div class="half-less"></div>

                        <div class="line"></div>
                        <div class="line-less"></div>

                    </div>
                <div class="crt-post-footer">
                    <div class="line mx-auto"></div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 col-12">
        <article>
            <div class="crt-post-content">
            </div>
            <div class="crt-post-c">
                <div class="crt-post-header">
                    <div class="crt-social-icon"></div>
                    <div class="crt-post-fullname">
                        <div class="line"></div>
                        <div class="line-less"></div>
                    </div>
                </div>
                <div class="crt-post-text" >
                        <div class="line"></div>
                        <div class="line-less"></div>
                        
                        <div class="half-less"></div>

                        <div class="line"></div>
                        <div class="line-less"></div>

                    </div>
                <div class="crt-post-footer">
                    <div class="line mx-auto"></div>
                </div>
            </div>
        </article>
        <article>
            <div class="crt-post-content">
            </div>
            <div class="crt-post-c crt-post-border">
                <div class="crt-post-header">
                    <div class="crt-social-icon"></div>
                    <div class="crt-post-fullname">
                        <div class="line"></div>
                        <div class="half-line"></div>
                    </div>
                </div>
                <div class="crt-post-text" >
                        <div class="line"></div>
                        <div class="line-less"></div>
                        
                        <div class="half-less"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="quart-line"></div>

                        <div class="line"></div>
                        <div class="line-less"></div>
                        <div class="half-line"></div>
                    </div>
                <div class="crt-post-footer">
                    <div class="line mx-auto"></div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 col-12 d-md-block d-none">
    <article>
        <div class="crt-post-content">
        </div>
        <div class="crt-post-c crt-post-border">
            <div class="crt-post-header">
                <div class="crt-social-icon"></div>
                <div class="crt-post-fullname">
                    <div class="line"></div>
                    <div class="half-line"></div>
                </div>
            </div>
            <div class="crt-post-text" >
                    <div class="line"></div>
                    <div class="line-less"></div>
                    
                    <div class="half-less"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="quart-line"></div>

                    <div class="line"></div>
                    <div class="line-less"></div>
                    <div class="half-line"></div>
                </div>
            <div class="crt-post-footer">
                <div class="line mx-auto"></div>
            </div>
        </div>
    </article>
    <article>
        <div class="crt-post-content">
        </div>
        <div class="crt-post-c crt-post-border">
            <div class="crt-post-header">
                <div class="crt-social-icon"></div>
                <div class="crt-post-fullname">
                    <div class="line"></div>
                    <div class="half-line"></div>
                </div>
            </div>
            <div class="crt-post-text" >
                    <div class="line"></div>
                    <div class="line-less"></div>
                    
                    <div class="half-less"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="quart-line"></div>

                    <div class="line"></div>
                    <div class="line-less"></div>
                    <div class="half-line"></div>
                </div>
            <div class="crt-post-footer">
                <div class="line mx-auto"></div>
            </div>
        </div>
    </article>

    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 col-12 d-lg-block d-none">
    <article>
        <div class="crt-post-content">
        </div>
        <div class="crt-post-c">
            <div class="crt-post-header">
                <div class="crt-social-icon"></div>
                <div class="crt-post-fullname">
                    <div class="line"></div>
                    <div class="line-less"></div>
                </div>
            </div>
            <div class="crt-post-text" >
                    <div class="line"></div>
                    <div class="line-less"></div>
                    
                    <div class="half-less"></div>

                    <div class="line"></div>
                    <div class="line-less"></div>

                </div>
            <div class="crt-post-footer">
                <div class="line mx-auto"></div>
            </div>
        </div>
    </article>
    <article>
        <div class="crt-post-content">
        </div>
        <div class="crt-post-c crt-post-border">
            <div class="crt-post-header">
                <div class="crt-social-icon"></div>
                <div class="crt-post-fullname">
                    <div class="line"></div>
                    <div class="half-line"></div>
                </div>
            </div>
            <div class="crt-post-text" >
                    <div class="line"></div>
                    <div class="line-less"></div>
                    
                    <div class="half-less"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="quart-line"></div>

                    <div class="line"></div>
                    <div class="line-less"></div>
                    <div class="half-line"></div>
                </div>
            <div class="crt-post-footer">
                <div class="line mx-auto"></div>
            </div>
        </div>
    </article>
    </div>

</div>
<div class="popup-item open">
    <div class="pop-up">
        <div class="notification">
            <p class="text-default-small">Externer Inhalt</p>
            <h3 class="headline">Social Media Wall</h3>
            <p class="text-teaser">
            Mit Klick auf „Inhalt anzeigen“ stimmen Sie zu, dass YouTube Cookies setzt und
                personenbezogene Daten erhebt, welche ggf. in Drittländer übertragen werden,
                die kein mit der EU vergleichbares Datenschutzniveau aufweisen.
                Weitere Informationen finden Sie in unserer Datenschutzerklärung.
            </p>
            <div class="buttons">
                <a class="display-social-media-wall secondary-button-dark-bg">Inhalt anzeigen</a>
            </div>
            <a class="close-btn">
                <figure>
                    <svg width="24" height="24" viewport="0 0 24 24" version="1.1"
                        xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="24" x2="24" y2="1" stroke="white" stroke-width="2"></line>
                        <line x1="1" y1="1" x2="24" y2="24" stroke="white" stroke-width="2"></line>
                    </svg>
                </figure>
            </a>
        </div>
    </div>
</div>

</html>