<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Categories:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Categories</h1>

    <f:flashMessages />

    <table class="tx_meddevmachines">
        <tr>
            <th><f:translate key="tx_meddevmachines_domain_model_categories.name" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{categories}" as="categories">
            <tr>
                <td><f:link.action action="show" arguments="{categories : categories}">{categories.name}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{categories : categories}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{categories : categories}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Categories</f:link.action>
</f:section>
</html>
