<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="header-image">
	<div class="image-overlay ">
		<figure>
			<div class="mediaelement mediaelement-image">
				<f:if condition="{mediaElement.link}">
					<f:then>
						<f:link.typolink parameter="{mediaElement.link}"
							target="{n:targetLink(link:mediaElement.link)}">
							<f:render partial="Image/Image"
								arguments="{image : mediaElement, desktopMaxWidth: 900, tabletMaxWidth: 800, mobileMaxWidth: 800, loading: 'lazy'}" />
						</f:link.typolink>
					</f:then>
					<f:else>
						<f:if condition="{settings.detail.media.image.lightbox.enabled}">
							<f:then>
								<a href="{f:uri.image(image:mediaElement, width:'{settings.detail.media.image.lightbox.width}', height:'{settings.detail.media.image.lightbox.height}')}"
									title="{mediaElement.title}" class="{settings.detail.media.image.lightbox.class}"
									rel="{settings.detail.media.image.lightbox.rel}">
									<f:render partial="Image/Image"
										arguments="{image : mediaElement, desktopMaxWidth: 900, tabletMaxWidth: 800, mobileMaxWidth: 800, loading: 'lazy'}" />
								</a>
							</f:then>
							<f:else>
								<f:render partial="Image/Image"
									arguments="{image : mediaElement, desktopMaxWidth: 900, tabletMaxWidth: 800, mobileMaxWidth: 800, loading: 'lazy'}" />
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
			<f:if condition="{mediaElement.description}">
				<p class="news-img-caption">
					{mediaElement.description}
				</p>
			</f:if>
		</figure>
	</div>
</div>

</html>