<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c{data.uid}" class="ce-teaser-item ce-contribution-amount">
    <div class="teaser-item">
        <div class="teaser-content bg-cyan">
            <f:if condition="{data.header}">
                <div class="headers ">
                    <f:if condition="{data.show_icon}">
                        <f:then>
                            <h3 class="icon-calculator"> {data.header}</h3>
                        </f:then>
                        <f:else>
                            <h3> {data.header}</h3>
                        </f:else>
                    </f:if>
                </div>
            </f:if>
            <f:if condition="{data.subheader}">
                <p>
                    {data.subheader}
                </p>
            </f:if>
            
                <div class="form-group">
                    <input class="text-default form-control" id="value" placeholder="{data.bodytext}" type="text" >
                </div>
                <div class="invalid-feedback" id="invalid">Bitte geben Sie den Umsatz ein</div>
            <div class="join-contribution"  id="join-contribution">
                <p id="contribution-text">

                </p>
                <f:if condition="{data.link}">
                    <f:link.typolink parameter="{data.link}" class="secondary-button">
                        {data.link_text}
                    </f:link.typolink>
                </f:if>
            </div>
        </div>
        <f:if condition="{data.calculate_button}">
            <div class="button-teaser buttons-section">
                <!-- <a href="#" class="primary-button" >{data.calculate_button}</a> -->
                <button type="button" id="calculate" class="primary-button">{data.calculate_button}</button>
            </div>
        </f:if>

    </div>
</div>

</html>