<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div id="c{data.uid}" class="ce-download-list">
        <f:if condition="{data.header}">
            <div class="headline">
                <f:render partial="Header/CustomHeader"
                arguments="{header:data.header,header:data.header,layout:data.header_layout}" />
            </div>
        </f:if>

        <f:if condition="{data.subheader}">
            <p class="subtitle">
                <f:format.nl2br>{data.subheader}</f:format.nl2br>
            </p>
        </f:if>
     
        <f:if condition="{records}">
            <f:for each="{records}" as="item">
                <f:if condition="{item.file.0}">
                    <div class="download">
                        <f:if condition="{item.data.dontLinkShowLockIcon}">
                            <f:then>
                                <a href="#" class="download-link-lock">
                                    <f:if condition="{item.data.header}">
                                        <div class="text-download">{item.data.header}</div>
                                    </f:if>
                                    <f:if condition="{item.data.subheader}">
                                        <span class="file-name">{item.data.subheader} ({item.file.0.originalFile.properties.size -> f:format.bytes()} <span class="extension">{item.file.0.originalFile.properties.extension}</span>)</span>
                                    </f:if>
                                </a>
                            </f:then>
                            <f:else>
                                <a href="/fileadmin{item.file.0.originalFile.identifier}" class="download-link" download>
                                    <f:if condition="{item.data.header}">
                                        <div class="text-download">{item.data.header}</div>
                                    </f:if>
                                    <f:if condition="{item.data.subheader}">
                                        <span class="file-name">{item.data.subheader} ({item.file.0.originalFile.properties.size -> f:format.bytes()} <span class="extension">{item.file.0.originalFile.properties.extension}</span>)</span>
                                    </f:if>
                                </a>
                            </f:else>
                        </f:if>
                    </div>
                </f:if>
            </f:for>
        </f:if>
    </div>
</html>