<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="default-container">
    <div class="vertical-content grid lg:grid-cols-12 grid-cols-4 pb-0 gap-10" id="c{data.uid}">
        <f:for each="{records}" as="item" iteration="count">
            <div class="col-span-4 bg-color-blue content-bg flex flex-col items-center">
                <span class="underline">{item.data.email}</span>
                <div class="white-vertical-line-2x"></div>
                <span class="text-3xl">{item.data.link_text}</span>
                <div class="white-vertical-line-4x"></div>
                <span class="text-7xl font-semibold">{item.data.header}</span>
                <div class="white-vertical-line-6x"></div>
                <span class="text-base">{item.data.subheader}</span>
                <div class="white-vertical-line-6x"></div>
                <span class="text-7xl font-semibold">{item.data.bodytext}</span>
                <div class="white-vertical-line-4x"></div>
            </div>
        </f:for>
    </div>
</div>
</html>