<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="default-container md:grid flex flex-col gap-5 grid-cols-12" id="c{data.uid}">
    <f:for each="{records}" as="item" iteration="i">
        <div class="{item.data.image_position}">
            <f:if condition="{item.data.image_position} == 'col-span-6 grid grid-cols-12'">
                <f:then>
                    <div class="content-img-1-{item.data.color_select} col-span-12">
                        <f:if condition="{item.image.0}">
                            <div class="content-img">
                                <f:image image="{item.image.0}" />
                            </div>
                        </f:if>
                        <div class="content-img-txt">
                            <h3>{item.data.header}</h3>
                            <f:if condition="{item.data.bodytext}">
                                <f:format.html>{item.data.bodytext}</f:format.html>
                            </f:if>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <f:for each="{item.records}" as="val" iteration="j">
                        <f:if condition="{j.index} == 2">
                            <f:then>
                                <div class="content-img-2 col-span-12">
                                    <f:if condition="{val.image.0}">
                                        <div class="content-img">
                                            <f:image image="{val.image.0}" />
                                        </div>
                                        <div class="content-img-txt">
                                            <p class="list-style-square-blue">{val.data.header}</p>
                                        </div>
                                    </f:if>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="content-img-2 col-span-6">
                                    <f:if condition="{val.image.0}">
                                        <div class="content-img">
                                            <f:image image="{val.image.0}" />
                                        </div>
                                        <div class="content-img-txt">
                                            <p class="list-style-square-blue">{val.data.header}</p>
                                        </div>
                                    </f:if>
                                </div>
                            </f:else>
                        </f:if>
                    </f:for>
                </f:else>
            </f:if>
        </div>
    </f:for>
</div>
<br>

</html>