<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}" class="ce-full-width-download-image">
    <div class="container">
        <div class="full-width-download-image">
            <f:if condition="{image.0}">
                <f:render partial="Image/Image" arguments="{image : image.0, desktopMaxWidth: 1290, loading: 'lazy'}" />
            </f:if>

            <div class="bodytext">
                <div class="info">
                    <f:if condition="{data.header}">
                        <p class="blue bold">{data.header}</p>
                    </f:if>
                    <f:if condition="{data.subheader}">
                        <p class="copyright">{data.subheader}</p>
                    </f:if>
                </div>
                <div class="download">
                    <a href="/fileadmin{item.image.0.originalFile.identifier}" download="{item.image.0.originalFile.name}" class="download-link placeholder-text-bold">
                        <div class="text-download">
                            <f:translate key="LLL:EXT:sand_sitepackage/Resources/Private/Language/locallang.xlf:download" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>