<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c{data.uid}" class="ce-quote-teaser">
    <div class="container">
        <f:for each="{records}" as="item">
            <div class="row no-gutters quote-teaser {f:if(condition: '{item.data.image_position} == right-image', then: 'right')} ">
                <div class="row no-gutters image-quote">

                    <f:if condition="{item.image.0}">
                        <div class="col-sm-4 image">
                            <f:render partial="Image/Image" arguments="{image : item.image.0, desktopMaxWidth: 320, tabletMaxWidth: 320, mobileMaxWidth: 320, loading: 'lazy'}" />
                        </div>
                    </f:if>
                    <f:if condition="{item.data.bodytext}">
                        <div class="col-sm-8 ml-auto info">
                            <div class="quote text-xlarge">
                                {item.data.bodytext}
                            </div>
                        </div>
                    </f:if>
                </div>
                <div class="col-sm-7 teaser-content">
                    <div class="content">
                        <f:if condition="{item.data.header}">
                            <div class="medium-title">{item.data.header} </div>
                        </f:if>
                        <f:if condition="{item.data.subheader}">
                            <div class="text-default"> {item.data.subheader}</div>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</div>
</html>