<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.background}">
    <f:then>
        <div id="c{data.uid}" class="ce-events-header no-header ">
            <div class="header">
                <div class="header-content">
                    <div class="info">
                        <f:if condition="{data.subheader}">
                            <div class="subline">
                                <h2>{data.subheader}</h2>
                            </div>
                        </f:if>
                        <f:if condition="{data.header}">
                            <div class="headline">
                                <h1>{data.header}</h1>
                            </div>
                        </f:if>
                    </div>
                </div>
                <div class="header-image">
                    <div class="image-overlay ">
                    </div>
                </div>
            </div>
            <div class="button-event">
            </div>
        </div>
    </f:then>
    <f:else>
        <div id="c{data.uid}"
            class="ce-events-header {f:if(condition: '{image.0}', then: 'with-image')} {f:if(condition: '{data.link}', then: 'event')} ">
            <div class="header">
                <div class="header-content">
                    <div class="info">
                        <f:if condition="{data.subheader}">
                            <div class="subline">
                                <h2> {data.subheader}</h2>
                            </div>
                        </f:if>
                        <f:if condition="{data.header}">
                            <div class="headline">
                                <h1> {data.header} </h1>
                            </div>
                        </f:if>
                    </div>
                </div>
                <f:if condition="{image.0}">
                    <div class="header-image">
                        <div class="image-overlay">
                            <f:render partial="Image/Image" arguments="{image : image.0, desktopMaxWidth: 800, tabletMaxWidth: 900, mobileMaxWidth: 767, loading: 'eager'}" />
                        </div>
                    </div>
                </f:if>
            </div>
            <f:if condition="{data.link}">
                <f:if condition="{data.link_text}">
                    <div class="button-event">
                        <f:link.typolink parameter="{data.link}" class="primary-button">
                            {data.link_text}
                        </f:link.typolink>
                    </div>
                </f:if>

            </f:if>
        </div>
    </f:else>
</f:if>


</html>