<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="input-area">
	<label for="sfr{fieldName}">
		<f:translate id="{fieldName}" />
		<f:render partial="Required" arguments="{field: fieldName}" />
	</label>
	<f:variable name="for">{f:if(condition: property, then: property, else: 'user')}</f:variable>
	<f:render partial="FieldError" arguments="{for: for, field: fieldName}" />

	<div class="input">
		<f:form.password property="{fieldName}" id="sfr{fieldName}"  data="{lpignore: 'true'}"/>
	</div>
<f:comment>
	<f:if condition="{options.progress} == 'show'">
		<meter min="0" max="44" low="14" high="31" optimum="39" id="bargraph"></meter>
	</f:if>
</f:comment>

</div>


</html>
