<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">
<div class="input-area">
	<label for="{fieldName}">
		<f:translate id="{fieldName}" />
		<f:render partial="Required" arguments="{field: fieldName}" />
	</label>
	<f:render partial="FieldError" arguments="{for: 'user', field: fieldName}" />
	<div class="input">
		<register:form.translatedSelect property="{fieldName}" id="{fieldName}" options="{options.values}"  />

	</div>
</div>



</html>
