<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{isOverrided}">
	<f:then>
		<div class="col-md-6 checkbox-section {fieldName}">
			<div class="form-check form-check-inline">
				<f:form.checkbox property="{fieldName}" id="{fieldName}" additionalAttributes="{required:'required'}" value="1"  class="form-check-input"
				checked="{options.checked}" />
				<label for="{fieldName}" class="form-check-label">
					<f:translate key="LLL:EXT:sand_sitepackage/Resources/Private/Language/locallang.xlf:privacy_agree"/> <f:link.typolink parameter="{settings.registrationFields.privacy_page_id}" class="a-link"><f:translate key="LLL:EXT:sand_sitepackage/Resources/Private/Language/locallang.xlf:privacy_data_protection"/></f:link.typolink> zu
					<!-- <f:translate id="{fieldName}" /> -->
					<f:render partial="Required" arguments="{field: fieldName}" />
				</label>
				<f:if condition="{req}">
					<div class="invalid-feedback">
						<f:translate
							key="LLL:EXT:sand_connectedforms/Resources/Private/Language/locallang.xlf:tx_sand_connectedforms.required_entry_checkbox" />
					</div>
				</f:if>
			</div>
		</div>
	</f:then>

	<f:else>
		<div class="col-md-6 checkbox-section {fieldName}">
			<div class="form-check form-check-inline">
				<label for="{fieldName}">
					<f:translate key="LLL:EXT:sand_sitepackage/Resources/Private/Language/locallang.xlf:privacy_agree"/> <f:link.typolink parameter="{settings.registrationFields.privacy_page_id}" class="a-link"><f:translate key="LLL:EXT:sand_sitepackage/Resources/Private/Language/locallang.xlf:privacy_data_protection"/></f:link.typolink> zu

					<!-- <f:translate id="{fieldName}" /> -->
					<f:render partial="Required" arguments="{field: fieldName}" />
				</label>

				<f:form.checkbox property="{fieldName}" id="{fieldName}" value="1" class="form-check-input"
				checked="{options.checked}" />
				
			</div>
			<f:render partial="FieldError" arguments="{for: 'user', field: fieldName}" />
		</div>
	</f:else>
</f:if>

</html>