<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Machines:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Machines</h1>

    <f:flashMessages />

    <table class="tx_meddevmachines">
        <tr>
            <th><f:translate key="tx_meddevmachines_domain_model_machines.name" /></th>
            <th><f:translate key="tx_meddevmachines_domain_model_machines.tx_meddevmachines_desc" /></th>
            <th><f:translate key="tx_meddevmachines_domain_model_machines.images" /></th>
            <th><f:translate key="tx_meddevmachines_domain_model_machines.video" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{machines}" as="machines">
            <tr>
                <td><f:link.action action="show" arguments="{machines : machines}">{machines.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{machines : machines}">{machines.desc}</f:link.action></td>
                <td><f:link.action action="show" arguments="{machines : machines}">{machines.images.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{machines : machines}">{machines.video.originalResource.name}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{machines : machines}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{machines : machines}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Machines</f:link.action>
</f:section>
</html>
