<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Groupes:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Groupes</h1>

    <f:flashMessages />

    <table class="tx_meddevmachines">
        <tr>
            <th><f:translate key="tx_meddevmachines_domain_model_groupes.groupnames" /></th>
            <th><f:translate key="tx_meddevmachines_domain_model_groupes.titel" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{groupes}" as="groupes">
            <tr>
                <td><f:link.action action="show" arguments="{groupes : groupes}">{groupes.groupnames}</f:link.action></td>
                <td><f:link.action action="show" arguments="{groupes : groupes}">{groupes.titel}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{groupes : groupes}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{groupes : groupes}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Groupes</f:link.action>
</f:section>
</html>
