<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<f:comment>
	<f:if condition="{userNotFound}">
		<f:translate id="account_not_found" />
	</f:if>
	<f:if condition="{userAlreadyConfirmed}">
		<f:format.raw>
			<f:translate id="account_already_activated" arguments="{0: user.username}" />
		</f:format.raw>
	</f:if>
	<f:if condition="{userConfirmed}">
		<f:format.raw>
			<f:translate id="account_successful_activated" arguments="{0: user.username}" />
		</f:format.raw>
	</f:if>
	</f:comment>

	<div class="ce-registration-email">
		<!-- <div class="ce-text">
			<div class=" mx-auto">
				<div class="headline">
					<h1>Registrierung erfolgreich</h1>
				</div>
				<div class="text">
					<p>Vielen Dank, dass Sie ein Konto bei uns eingerichtet haben. Nachstehend finden Sie nützliche
						Links für Mitglieder. Sie können uns auch kontaktieren, wenn Sie Fragen zur Mitgliedschaft
						haben.</p>
				</div>
				<div class="buttons-section"><a href="/" target="_blank" class="primary-button">Zurück zur anmeldung</a></div>
				<div class="buttons-section"><a href="/"  target="_blank" class="secondary-button">Zum internen Bereich</a></div>
			</div>
		</div> if you want oyu can remove here -->
		<div class="default-container px-4 fill-space py-10">
			<div class="headline content-title text-color-blue">
				<h1 class="">Registrierung erfolgreich</h1>
			</div>
			<div class="text content-paragraph text-color-blue">
				<p>Vielen Dank, dass Sie ein Konto bei uns eingerichtet haben. Nachstehend finden Sie nützliche
					Links für Mitglieder. Sie können uns auch kontaktieren, wenn Sie Fragen zur Mitgliedschaft
					haben.</p>
			</div>
			<div class="buttons flex gap-5 mt-10">
				<a href="/" target="_blank" class="py-5 px-15 btn-blue-outlined">Zurück zur anmeldung</a>
				<a href="/"  target="_blank" class="py-5 px-15 btn-blue">Zum internen Bereich</a>
			</div>
		</div>
	</div>
</f:section>

</html>