<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="LoggedOut" />

<f:section name="Main">

	<div class="default-container mt-20 px-5">

		<div class="form-type-1 w-full max-w-[960px] mt-40">
			<h2 class="title-underline border-b border-color-blue pb-2">Ich bin bereits Kunde</h2>
			<p class="content-paragraph text-color-blue mt-4 text-lg">Einloggen mit E-Mail-Adresse und Passwort</p>


			<f:form action="proxy" name="user" id="sfrForm" class="px-3" object="{user}"
				enctype="multipart/form-data">
				<f:render partial="FormErrors" arguments="{for: 'user'}" />
				<f:render partial="FieldError" arguments="{field: 'uid'}" />
				<div class="form-row">
					<div class="inputs">
						<f:for each="{settings.fields.selected}" as="fieldName" iteration="iteration">
							<f:alias map="{options: '{settings.fields.configuration.{fieldName}}'}">
								<f:render partial="Form/{options.partial}"
									arguments="{user: user, fieldName: fieldName, options: options, settings: settings, iteration: iteration}" />
							</f:alias>
						</f:for>
					</div>

				</div>
			</f:form>
		</div>

	</div>

</f:section>

</html>