<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
		<div class="default-container px-4 fill-space py-10">
			<div class="headline content-title text-color-blue">
				<h1 class="">Bitte bestätigen Sie ihre E-Mail-Adresse</h1>
			</div>
			<div class="text content-paragraph text-color-blue">
				<p>Vielen Dank für die eingegebenen Informationen. Wir haben Ihr Profil erfolgreich erstellt. Wir haben
					Ihnen eine E-Mail mit einem Link zur Bestätigung Ihrer E-Mail-Adresse geschickt. Bitte überprüfen
					Sie Ihren Posteingang und möglicherweise den Spam-Ordner.</p>
			</div>
		</div>

</f:section>

</html>