<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render section="content" arguments="{_all}" />

<f:section name="content">
  <div class="container">
    <div class="login">
      <f:form target="_top" class="login-form" fieldNamePrefix="" action="login">
        <div class="tab">
          <div class="row">
            <div class="col-md-5 field-spacing">
              <div class="form-group">
                <label class="text-large">
                  Login / Anmelden
                </label>
              </div>
            </div>
          </div>
          <f:if condition="{messageKey}=='error'">
            <p class="{messageKey}-login">
              <f:render partial="RenderLabelOrMessage" arguments="{key: 'error_message'}" />
            </p>
          </f:if>
          <div class="row">
            <div class="col-md-5 field-spacing">
              <div class="form-group">
                <label class="placeholder-text">
                  Benutzename / E-Mail-Adresse
                </label>
                <f:form.textfield name="user" class="text-default form-control" placeholder="" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 field-spacing">
              <div class="form-group">
                <label class="placeholder-text">
                  Passwort:
                </label>
                <f:form.password name="pass" data="{rsa-encryption: ''}" class="text-default form-control"
                  placeholder="" />
              </div>
            </div>
          </div>



          <div>
            <div class="buttons-section">
              <f:form.submit value="Anmelden" class="primary-button" name="submit" />
            </div>
          </div>


          <div class="row">
            <div class="col-md-auto">

              Sie sind noch nicht registriert?
              <a href="{f:uri.page(pageUid:settings.meddev.pageUids.register)}" class="a-link-blue">
                Registrieren
              </a>

            </div>

          </div>

          <div class="row">
            <div class="col-md-auto">

              Haben Sie ihr
              <f:link.action action="recovery" controller="PasswordRecovery" class="a-link-blue">
                Passwort vergessen?
              </f:link.action>

            </div>

          </div>

        </div>
        <div class="felogin-hidden">
          <f:form.hidden name="logintype" value="login" />
          <f:form.hidden name="pid" value="{storagePid}" />

          <f:if condition="{referer}!=''">
            <f:then>
              <f:form.hidden name="referer" value="{referer}" />
            </f:then>
            <f:else if="{redirectURL}!=''">
              <f:form.hidden name="redirect_url" value="{redirectURL}" />
            </f:else>
          </f:if>

          <f:if condition="{redirectReferrer}!=''">
            <f:form.hidden name="redirectReferrer" value="off" />
          </f:if>
          <f:if condition="{noRedirect}!=''">
            <f:form.hidden name="noredirect" value="1" />
          </f:if>
          {extraHidden}
        </div>
      </f:form>
    </div>
  </div>

</f:section>

</html>